<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" style="direction: rtl;text-align:right">
  <a href="/profile" class="dropdown-item">
    <i class="ni ni-single-02"></i>
    <span>حسابي</span>
  </a>
  <a href="/profile" class="dropdown-item">
    <i class="ni ni-settings-gear-65"></i>
    <span>الاعدادات</span>
  </a>
  <a href="/profile" class="dropdown-item">
    <i class="ni ni-calendar-grid-58"></i>
    <span>العمليات</span>
  </a>
  <a href="/profile" class="dropdown-item">
    <i class="ni ni-support-16"></i>
    <span>الدعم</span>
  </a>
  <div class="dropdown-divider"></div>
  <a href="#!" class="dropdown-item logout">
    <i class="ni ni-user-run"></i>
    <span class="logout">تسجيل الخروج</span>
  </a>
</div>
